*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainLogo {
    width: 200px;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.1s ease;  
}

/* <span class="material-symbols-outlined">
arrow_back
</span> */

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#homeBtnContainer {
    margin-right: 40px;
}

#arrow {
    cursor: pointer;
    font-size: 50px;

}

#arrow:hover {
    color: #133e75;
    opacity: 0.8;
}

.arrowLink {
    text-decoration: none;
    color: #5b8bc9;
}

.title {
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: rgb(242, 136, 15);
}