*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainLogo {
    width: 200px;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.1s ease;  
}

/* style to make the contact list centered */
.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px dotted #5b8bc9;
    /* margin: 10px 500px; */
    width: 25vw;
    height: auto;
    margin: 10px auto;

    padding: 10px;
    border-radius: 16px;
}

#contactList {
    margin-top: 30px;
    list-style-type: none;   
    text-transform: capitalize; 
    text-align: center;
}

#search {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #5b8bc9;
    width: 340px;
    margin: 15px 0;
    position: sticky;
    
    
}

#search:focus {
    outline: none;
}

.contactListStyle {
    width: 300px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    color: black;
    list-style-type: none;
    font-weight: 400;
}

.contactListStyle:hover {
    background-color: #5b8bc9;
    color: white;
}

/* do a media query for smaller screens for all the contact list */
@media only screen and (max-width: 600px) {
    .contactContainer {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .contactListStyle {
        width: 100%;
    }
}