*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainLogo {
    width: 200px;
    height: auto;
    opacity: 0.8;
    transition: opacity 0.1s ease;  
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#homeBtnContainer {
    margin-right: 40px;
}

#arrow {
    cursor: pointer;
    font-size: 50px;

}

#arrow:hover {
    color: #133e75;
    opacity: 0.8;
}

.arrowLink {
    text-decoration: none;
    color: #5b8bc9;
}

.title {
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    color: rgb(242, 136, 15);
}

/* style to make the contact list centered */
.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 4px solid #5b8bc9;
    /* margin: 10px 500px; */
    width: 25vw;
    /* height: auto; */
    max-height: 400px;
    margin: 10px auto;
    overflow-y: auto;
    overflow-x: hidden;
    /* padding: 10px; */
    border-radius: 16px;
}

.contactContainer::-webkit-scrollbar {
    display: none;
}

#search {
    display: block;
    position: sticky;
    top: 0;
    width: 300px;
    padding: 10px;
    border: none;
    background-color: white;
    border-bottom: 2px solid #5b8bc9;
    border-radius: 10px;
    margin-top: 0;
    font-size: 14px;
    color: black;
    text-transform: capitalize;
    
    
}

#search:focus {
    outline: none;
}

.contactListStyle {
    width: 250px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    text-transform: capitalize;
    color: black;
    list-style-type: none;
    font-weight: 400;
}

.contactListStyle:hover {
    background-color: #5b8bc9;
    color: white;
    width: 250px;
}

.buttonColor {
    background-color: #5b8bc9!important;
}

/* do a media query for smaller screens for all the contact list */
@media only screen and (max-width: 600px) {
    .contactContainer {
        width: 90%;
        margin: auto;
        padding: 0;
        overflow-x: hidden;
    }
    .contactListStyle, #search {
        width: 200px;
        
        
    }
}

@media only screen and (max-width: 1200px) {
    .contactContainer {
        width: 70%;
        margin: auto;
        padding: 0;
        overflow-x: hidden;
    }
    .contactListStyle, #search {
        width: 250px;
        
        
    }
}

